.dark-mode{
    background-color: rgb(28, 28, 28);
    h1,h2,h3,h4,p{
        color: $gris;
    }
    .anuncios{
        background-color: $grisOscuro;
        border: 1px solid lighten($grisOscuro, 5);
        p{
            color: $gris;
        }
        .precio{
            color: $verde;
        }
        .iconos-caracteristicas{
            img{
                filter: invert(100%);
            }
        }
    }
    .texto-nosotros blockquote{
        color: $blanco;
    }

    .formulario{
        color: $blanco;
        legend,
        label{
            color: rgb(194, 194, 194);
        }
        input:not([type="submit"]),
        select, textarea{
            background-color: $grisOscuro;
            color: $blanco;
            border: 1px solid $grisOscuro;
        }
    }

    tbody{
        
        background-color: $grisOscuro;
        tr{
            color: $blanco;
        }
        td{
            border-bottom: 1px rgb(74, 74, 74) solid;
        }
    }
}
